[Unit]
Description=Jenkins SCM Module Backend Server

[Service]
Environment=MYSQL_HOST={{MYSQL_HOST}}
Environment=MYSQL_USER={{MYSQL_USER}}
Environment=MYSQL_DATABASE={{MYSQL_DATABASE}}
Environment=MYSQL_PASSWORD={{MYSQL_PASSWORD}}
User=jenkins-scm-backend
WorkingDirectory=/opt/bookshelve-server
ExecStart=/opt/bookshelve-server/venv/bin/gunicorn --bind 127.0.0.1:8000 wsgi:app

[Install]
WantedBy=multi-user.target